################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWorld/Debug
/HelloWorld/Release
/HelloWorld/.vs/HelloWorld/v16
